%footer#footer
  .row
    .large-12.columns
      %h1 Lee McAlilly
      %p Making stuff since 1983.
      %p Send me an #{ link_to 'email', 'mailto:lee@originalfuzz.com'}. Follow me on #{ link_to 'Twitter', 'http://twitter.com/leemcalilly'} or #{ link_to 'Instagram', 'http://instagram.com/leemcalilly'}. Check out the quality products I make for musicians at #{ link_to 'Original Fuzz', 'http://originalfuzz.com'}.
      %p Copyright &copy; 1998 - #{Time.now.year} Lee McAlilly.