%footer#footer
  .row
    .large-12.columns
      %p Send me an #{ link_to 'email', 'mailto:lee@originalfuzz.com'}. Follow me on #{ link_to 'Twitter', 'http://twitter.com/leemcalilly'} or #{ link_to 'Instagram', 'http://instagram.com/leemcalilly'}. Check out the quality products I make for musicians at #{ link_to 'Original Fuzz', 'http://originalfuzz.com'}. Examine my #{ link_to 'resume', '/resume'}. Scroll through my #{ link_to 'timeline', '/timeline'}.
      %p Copyright 1983 - #{Time.now.year} Lee McAlilly.
