%footer#footer
  .row
    .large-12.columns
      %p Send me an #{ link_to 'email', 'mailto:lee@originalfuzz.com'}. Follow me on #{ link_to 'Twitter', 'http://twitter.com/leemcalilly'} or #{ link_to 'Instagram', 'http://instagram.com/leemcalilly'}. Fork me on #{ link_to 'Github', 'https://github.com/leemcalilly'}. Check out the quality products I make for musicians at #{ link_to 'Original Fuzz', 'http://originalfuzz.com'}. Examine my #{ link_to 'resume', '/resume'}. Scroll through my #{ link_to 'timeline', '/timeline'}.
      %p I made this site because I wanted a place to save photos, things I write, songs I record, videos I make, and other stuff like that. I've grown tired of switching from Myspace to Facebook to Twitter to Instagram to iCloud to whatever. I wanted one place to archive and share the digital stuff I want to keep. Rather than host this stuff on a 3rd party service like Facebook, I built this. It's mostly HTML and CSS. I'm betting that these formats will still work when I'm old.
      %p Copyright 1983 - #{Time.now.year} Lee McAlilly.
