- provide(:title, 'Resume')

%header
  .row
    .large-8.columns.bio
      %p Lee McAlilly is an entrepreneur, web developer, and musician. His latest endeavor is making high-quality products for guitar players as Co-Founder of #{ link_to 'Original Fuzz', 'http://originalfuzz.com'}.
      %p A Mississippi native, he graduated from a small liberal arts college in Spartanburg, SC called #{ link_to 'Wofford College', 'http://wofford.edu'}. He's lived and worked in Nashville, TN, Brooklyn, NY, and Jacksonville, FL.
      %p Lee enjoys recording and performing music, making websites, and creating music videos. #{ link_to 'Get in touch', 'mailto:lee@originalfuzz.com'} if you have a job to be done!
      %ul.inline-list
        %li= link_to "Experience", "#"
        %li= link_to "Education", "#"
        %li= link_to "Projects", "#"
    .large-4.columns.bio-photo
      =image_tag("resume/lee-mcalilly.jpg", :alt => "Lee McAlilly bio photo")
  .row
    %hr
%section.experience
  .row
    .large-8.columns
      %h1 Experience
      .article
        %h2 Original Fuzz
        %h3 Co-founder, 2013 to present
        %p Co-founder of this music products manufacturer and accessories brand. Original Fuzz makes high-quality gear for guitar players. Their flagship product, a handwoven Peruvian guitar strap, has been featured in Vintage Guitar Magazine and on the backs of pros like Built to Spill, Kurt Vile, and Frightened Rabbit. Original Fuzz was a member of the inaugural class of the KYN startup accelerator in downtown Jacksonville. As a part of the program they received a seed investment from Jacksonville Jaguars owner Shad Khan. Find out more at OriginalFuzz.com.
      .article
        %h2 Wingard Creative
        %h3 Lead Developer
        %H4 2012-2013
        %p As lead developer at Wingard Creative Lee was involved with project management and coding. He worked directly with each client and a team of designers through concept . During this tenure he built many websites with
      .article
        %h2 The CFO Alliance
        %h3 Product Manager
        %H4 2011-2012
        %p As product manager for The CFO Alliance, Lee oversaw the development of a nich social network and events platform for CFOs of mid-market companies. He wrote the front-end HTML, CSS, and Javascript for the site and managed a Ruby developer to create this platform from scratch. His primary role was working with the company's founders to priotize business goals and translate them into working code with a solid user experience. In this role employed an agile development methology and iterative design process.
      .article
        %h2 Electric Orange Creative
        %h3 Co-Founder
        %H4 2009-2011
        %p Lee took what he learned working at a pioneering social media marketing company and used that to launch his own boutique agency with Dan Murphy. Electric Orange did everything from managing social media campaigns to SEO to web design and development. Key clients during his tenure included Guitar World, Revolver Magazine, The L Magazine, Everyday Health, and Webvet. He helped build a company that Dan is still running strong today.
      .article
        %h2 YouCast
        %h3 Business Development Director
        %H4 2007-2009
        %p As the first employee of one of the first social media marketing agencies, Lee wore many hats at YouCast. YouCast launched during the days of Myspace and navigated the Web 2.0 boom on behalf of clients like Photobucket, Snapple, Energizer, 50 Cent, Mandy Moore, Eventful, Meez, IAC, and many more. They were truly one of the first companies to offer social media marketing services to its clients. Lee wore many hats from project manager to client services, but his largest role was in business development, managing the sales team and raising venture capital. It was a unique experience that solidified his interest in startups and the web.
      .article
        %h2 Abingdon Press
        %h3 Production Editor
        %H4 2006-2007
        %p In his first job out of college, Lee was hired to work as a Production Editor for a new line of children's educational curriculum. Dovetailing on his writing skills as an English major at Wofford, Lee was the final line of defense in ensuring that the product was perfect before going to press. As a part of a team launching a new product he was involved with every stage of product development and branding, as well as the final stage of quality control from grammar to pixel placement. It was an excellent foundation for future responsibilities and taught him how to pay utmost attention to detail.
  .row
    %hr
%section.education
  .row
    .large-8.columns
      %h1 Education
      .article
        %h2 Wofford College
        %h3 Summa cum laude in English
        %h4 2005
        %p Wofford is a hidden gem. Regularly ranked as one of America's top values in higher education, Wofford is one of the best liberal-arts colleges in the South. As a member of the varsity soccer team, he played Division I soccer against three starters on the 2010 USA World Cup team. He was also president of his fraternity, Sigma Nu, and spent a semester studying Art History in Milan. He filmed a documentary about rural Germany and participated in the Wofford Singers and Jazz Improv. He was also selected as the representative for English majors to participate in the senior Presidential seminar, which is taught by the President of the college.
  .row
    %hr
%section.web-projects
  .row
    .large-8.columns
      %h1 Web Projects
      .article
        %ul
          %li #{ link_to 'Original Fuzz', 'http://originalfuzz.com'} - Shopify backend, HAML, SASS, Responsive Design - 2014
          %li #{ link_to 'Downtown Tupelo Main Street Association', 'http://tupelomainstreet.com'} - Project Management, Art Direction, HTML, CSS, Javascript, Squarespace Setup - 2013
          %li #{ link_to 'Sorella of Macon', 'http://originalfuzz.com'} - Squarespace setup, Project Management - 2013
          %li #{ link_to 'Tip App for Orsay', 'http://tipshare.wingardcreative.com'} - Ruby on Rails backend, HTML, CSS, Responsive Design, Project Management - 2013
          %li #{ link_to 'Bold Bean Coffee', 'http://boldbeancoffee.com'} - HTML, CSS, Shopify, Responsive Design, Project Management - 2013
          %li #{ link_to 'Black Sheep 5 Points', 'http://blacksheep5points.com'} - HTML, CSS, Wordpress, Responsive Design - 2013
          %li #{ link_to 'Elvis Presley Festival', 'http://tupeloelvisfestival.com'} - Project Management, Art Direction, Shopify Backend, HTML, CSS, Javascript - 2012
          %li #{ link_to 'Revolver Magazine', 'http://boldbeancoffee.com'} - HTML, CSS, Expression Engine, Project Management - 2010
          %li #{ link_to 'Guitar World', 'http://boldbeancoffee.com'} - HTML, CSS, Expression Engine, Project Management - 2010
          %li #{ link_to 'Carleton V', 'http://carletonvltd.com'} - HTML, CSS, Expression Engine, Project Management - 2010
          %li #{ link_to 'Electric Orange Creative', 'http://carletonvltd.com'} - Logo, Design, HTML, CSS - 2010
          %li #{ link_to 'Daily Vinyl', 'http://dailyvinyl.com'} - Logo, Design, HTML, CSS, Shopify - 2010
