- provide(:title, 'Timeline')

.path-container

  = render "public/events/original_fuzz"

  = render "public/events/jacksonville"

  = render "public/events/the_finks"

  = render "public/events/south_africa"

  = render "public/events/electric_orange"

  = render "public/events/sally_head"

  = render "public/events/new_york_city"

  = render "public/events/nashville"

  = render "public/events/italy"

  = render "public/events/wofford"

  = render "public/events/high_school"

  = render "public/events/soccer"

  = render "public/events/tupelo"

  = render "public/events/meridian"

  %span.line.hide-for-small
