= render "shared/head"
%body{:id => params[:action], :class => params[:controller]}
    
  = render "shared/navigation"
  
  = yield
  
  = render "shared/footer"
  
  = javascript_include_tag "application"
